# -*- python -*-
from lsst.afw.image import FilterConfig, FilterSetConfig
root = FilterSetConfig()
root.description = "The CFHT MegaCam Filters from http://www.cfht.hawaii.edu/Instruments/Imaging/MegaPrime/specsinformation.html"
root.filters = [ FilterConfig(name='u', lambdaEff=374, alias=['u.MP9301']),
                 FilterConfig(name='g', lambdaEff=487, alias=['g.MP9401']),
                 FilterConfig(name='r', lambdaEff=625, alias=['r.MP9601']),
                 FilterConfig(name='i', lambdaEff=770, alias=['i.MP9701']),
                 FilterConfig(name='z', lambdaEff=900, alias=['z.MP9801']),
                 ]
